streamlit
groq
Pillow
python-dotenv
reportlab
streamlit-lottie
requests
streamlit-option-menu
pandas
numpy
matplotlib
altair
gtts
cachetools
scikit-learn
opencv-python
fpdf
transformers
torch
sentence-transformers
python-barcode
tqdm
bcrypt
pyzbar
plotly
python-dateutil
joblib
scipy
jsonschema
protobuf